@{
    Layout = null;
    ViewBag.Title = "VivoosVR";
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VivoosVR</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

    <meta name="description" content="VivoosVR" />
</head>
<body class="p-0 o-hidden" ng-app="app" ng-controller="controllerPublicIndex">
    <header class="clearfix op-70" id="header">
        <ul class="h-inner">
            <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>
            <li class="pull-right">
                <ul class="hi-menu">
                    <li>
                        <a href="@Url.Action("Login", "Account")"><i class="him-icon zmdi zmdi-account"></i></a>
                    </li>



                </ul>
            </li>
        </ul>
        <!-- Top Search Content -->
        <div class="h-search-wrap">
            <div class="hsw-inner">
                <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
                <input type="text">
            </div>
        </div>
    </header>
    <div class="container-fluid m-0 p-0 fullscreen-image">
        <div class="vivooslogo"></div>

    </div>

    





    <div class="page-loader">
        <div class="preloader pls-blue">
            <svg xmlns="http://www.w3.org/2000/svg" class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"></circle>
            </svg>
            <p>Lütfen bekleyin...</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/Bundles/angular")
</body>